<div class="row margin-bottom">
    <div class="col-sm-12">
        <button type="button" class="btn" onclick="$('#elements-pro-rightspermissions-extended .icheckbox_square-aero').not('.checked').click()">Zaznacz wszystkie</button>
        <button type="button" class="btn" onclick="$('#elements-pro-rightspermissions-extended .icheckbox_square-aero').filter('.checked').click()">Odznacz wszystkie</button>
	{element tag='button' route='registry/ajax-edit-role' routeParams=['id' => 1, 'role_id' => 1, 'system_name' => 'default_role_pro'] attributes=[
            'dialog' => [
                'process' => 'refreshSection',
                'new-dialog' => true
            ],
            'icon' => 'edit',
	    'type' => 'button',
	    'class' => 'btn',
            'data' => [
                'refresh-element' => '.section-roles'
            ],
            'tooltip' => 'Edytuj rolę'
        ]}
    </div>
</div>

<table cellspacing="0" cellpadding="0" border="0" class="table table-striped table-bordered" id="elements-rightspermissions-extended">
    <thead>
    <tr>
        <th width="30%">Moduł</th>
        <th>Akcja</th>
        <th>Dostęp</th>
        <th>Record limit</th>
    </tr>
    </thead>
    <tbody>
    {foreach from=$rightspermissionsProConfigExtended key=moduleName item=moduleConfig}
        {foreach from=$moduleConfig.permissions item=configItem}
            <tr
                {if $configItem.basePermission}
                class="relative-element"
                data-relation-base="permission-{$configItem.basePermission|md5}"
                data-relation-id="1"
                {/if}
            >
                <td>{if $configItem.basePermission} <span class="fa fa-long-arrow-up"></span> {else}{$moduleConfig.label}{/if}</td>
                <td>{$configItem.label}</td>
                <td>
                    {if !$configItem.basePermission}
                    <!-- <input type="hidden" name="limit[{$configItem.name}]" value="{if !empty($rightspermissionsProExtended[$configItem.name])}1{else}0{/if}"> -->
                    {/if}
                    <input type="hidden" id="permission-{$configItem.name|md5}" name="rightspermissionsPro[{$configItem.name}]" class="toggle-relative" value="{if !empty($rightspermissionsProExtended[$configItem.name])}1{else}0{/if}">
                    <div class="icheckbox_square-aero js-checkbox" data-target-id="rightspermissionsPro[{$configItem.name}]"><ins class="iCheck-helper"></ins></div>
                </td>
                <td style="padding-top: 18px;">
                    {if !$configItem.basePermission}
                        <input class="limit_each_registry_count" type="Number" min=0 value="{if empty($limitProJson)}0{else}{$limitProJson[{$configItem.name}]}{/if}" name="limitPro[{$configItem.name}]">
                    {/if}
                </td>
            </tr>
        {/foreach}
    {/foreach}
    </tbody>
</table>
<style>
#f_profile .form-group.row:nth-child(3), #f_profile .form-group.row:nth-child(4) {
    display: none;
}

button.btn.processed-choose-from-dial {
    margin-top: -2px;
}

button.btn.processed-choose-from-dial::before {
    content: "Edytuj rolę";
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 0 0 1px 0;
}
</style>
<!-- <script>
    $(document).ready(function () {
        $(".relative-element .limit_each_registry_count").css("display","none");
    });
</script> -->
