<table
  cellpadding="0"
  cellspacing="0"
  border="1"
  class="table table-striped table-bordered example"
>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="3" style="text-align: center;">Extra Counts</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th data-filter-type="string">Name</th>
      <th data-filter-type="select">Price</th>
      <th data-filter-type="string">Period</th>
      <th data-filter-type="string">Pro</th>
      <th data-filter-type="string">Mini</th>
      <th data-filter-type="string">Expert</th>
      <th data-filter-type="string">Date</th>
      <th data-filter-type="string">End Date</th>
      <th class="min-width text-center">Operations</th>
    </tr>
  </thead>
  <tbody class="js-checkbox-container">
    {foreach $paginator as $d}
    <tr>
      <td>{$d.name}</td>
      <td>{$d.subscription_price} {$d.currency|ucfirst}</td>
      {if $d.period_unit == 2}
      <td>{$d.period} month</td>
      {else}
      <td>{$d.period} year</td>
      {/if}
      <td>{$d.pro_count - $d.license_pro_count}</td>
      <td>{$d.mini_count - $d.license_mini_count}</td>
      <td>{$d.expert_count - $d.license_expert_count}</td>
      <td>{smart_date value=$d.created_at}</td>
      <td>{smart_date value=$d.end_date}</td>
      <td class="operations nowrap">
        <a
          class="glyphicon glyphicon-pencil"
          href="/licenses/update-history/id/{$d.id}"
          data-toggle="tooltip"
          title="Edytuj"
        ></a>
      </td>
    </tr>
    {/foreach}
  </tbody>
</table>
