<div class="row">
    <div class="col-sm-12">
        <form name="form_buy_kryptos" id="form_buy_kryptos" action="/payments/submit-deposit-balance" method="post" class="form-horizontal" role="form" data-process-fn="formProcessCloseModal">
            <div class="form-group row">
                <label class="col-sm-4">Deposit amount:</label>
                <div class="col-sm-2">
                    <input type="number" step="0.01" id="amount" name="amount" placeholder="Amount" value="" class="form-control validate[required]"/>
                </div>
                <div class="col-sm-2">
                    PLN
                </div>
            </div>

            <input type="hidden" id="payment_method" name="payment_method" value="paypal"/>

            <div class="body-action">
                <button type="submit" class="btn btn-info pull-right dialog-form-submit">{'Pay with PayPal'|translate}</button>
            </div>

        </form>
    </div>
</div>