<h1>{$dialogTitle}</h1>

<div class="row view-render">
  <div class="col-sm-12">
    <form
      method="post"
      action="/registry-entries/withdrawn"
    >
      <fieldset>
        <div class="form-group row main-label-row">
          <label class="col-sm-2 form-control-label">Upoważnienie dla: </label>
          <div class="col-sm-8">
            <label class="form-control" name="worker_name">{$fullname}</label>
          </div>
        </div>
        <input type="hidden" name="registry_entry_id" value="{$registry_entry_id}">
        <input type="hidden" name="registry_id" value="{$registry_id}">
        <!-- <div class="form-group row">
          <label class="col-sm-2 form-control-label"
            >Date/Time:</label
          >
          <div class="col-sm-8">
            <input class="form-control" type="text" name="date_time" value="2019.2.21/2:23PM" disabled="disabled"></input>
          </div>
        </div> -->

        <div class="form-group row">
            <label class="col-sm-2 form-control-label"
                >Powód:</label
            >
            <div class="col-sm-8">
                <textarea class="form-control" name="reason_content"></textarea>
            </div>
        </div>

        <!-- {foreach from=$data.registry.entities item=registryEntity
        name=registryEntities}
        <div
          class="{if $smarty.foreach.registryEntities.index is odd by 1}grey{else}white{/if}"
        >
          {Application_Service_Entities::renderText($registryEntity, $data)
          nofilter}
        </div>
        {/foreach} -->
        <input class="btn btn-success submit-closest-form" type="submit" style="float: right;" />
      </fieldset>
    </form>
  </div>
</div>
<script type="text/javascript">
    $('body').on('click', '.submit-closest-form', function(e) {
        e.preventDefault();
        $(this).closest('form').submit();
    });
</script>
