<div class="row view-render">
  <div class="col-sm-12">
    <div
      class="modal fade modal-styled in"
      id="messages-response"
      tabindex="-1"
      role="dialog"
      aria-labelledby="ajaxDialLabel"
      aria-hidden="false"
      style="display: block;"
    >
      <div class="modal-dialog modal-lg ajaxDialSize" role="document">
        <div class="modal-content onlyconent">
          <div class="modal-header">
            <h3>Purchase License</h3>
          </div>
          <div class="modal-body">
            <section>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <div
                      class="alert alert-danger"
                      style="text-align: center; font-size:20px"
                    >
                      {$message}
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>
