<form id="f_profile" name="f_profile" action="/apimanage/save" method="POST" class="form-horizontal" role="form">
	<div class="tab-pane" id="rola" style="padding:15px 5px">
            <div class="form-group row">
                <label for="data" class="col-sm-2" style="width: 100%;">API Configuration</label>

{foreach $api as $a}

<div class="form-group row">

<label class="col-sm-2 glyphicon glyphicon-list-alt" style="width: 100%;">{$a.name}</label>
                <div class="col-md-8 checkout-list">
                        <label class="col-sm-12">API Key</label>
			<input type="text" name="{$a.name}_value" value="{$a.Value}">
                </div>
		<div class="col-md-8 checkout-list">
                        <label class="col-sm-12">{if ($a.name == smsapi)}From{else if ($a.name == email)}From e-mail{/if}</label>
			<input type="text" name="{$a.name}_additional" value="{$a.additional}">
                </div>
</div>
{/foreach}
            </div>
	    <div class="form-group row">
	    	<input type="submit" value="Zapisz"  class="btn btn-info">
	    </div>
        </div>
</form>

<style>

.tab-pane {
    border: 1px solid #efefef;
}
.form-group.row {
    margin: 0px;
    border-bottom: 1px solid #efefef;
}
label.col-sm-2 {
    font-weight: bold;
}
.checkout-list label.col-sm-12 {
    padding: 0px;
}
.icheckbox_square-aero {
    margin-right: 5px !important;
}
input.btn.btn-info {
    margin: 10px !important;
}
label.col-sm-2::before {
    padding-right: 11px;
}
.checkout-list input {
    min-width: 85%;
}
.checkout-list label {
    display: inline-block;
    width: 15%;
    padding: 0px;
}
.col-md-8.checkout-list {
    margin: 10px 0px 5px;
}
.form-group.row {
    margin-bottom: 10px;
}
</style>

