<div class="row">
    <div class="col-md-6">
        <div class="well">
            Czy chcesz wysłać resetowane hasło za pośrednictwem poczty e-mail?
        </div>

        <form action="/osoby/reset-password-email-save" method="post">
            <input type="hidden" name="id" value="{$osoba.id}"/>
            <div>
                <a href="/osoby" class="btn btn-default">Powrót</a>
                <button type="submit" name="formAction" value="show" class="btn btn-info">Potwierdź</button>
            </div>
        </form>
    </div>
</div>