{if is_array($attributes.value)}
    {assign var="selectedValues" value=$attributes.value}
{else}
    {assign var="selectedValues" value=[]}
{/if}

{if empty($attributes.id)}
    {assign var="id" value=$attributes.name|set_id}
{else}
    {assign var="id" value=$attributes.id}
{/if}

<div class="form-group row {$wrapper.class nofilter}" data-enable-if="{$params.attributes.widget.enableIf}" data-visible-if="{$params.attributes.widget.visibleIf}">
    <label for="{$id}" class="col-sm-2">{$params.attributes.label}</label>
    <div class="col-sm-10" style="overflow: auto;">
        {assign var="tableId" value=$id|replace:'_':'-'|cat:'-extra-matrix-table'}
        <table class="table table-striped table-bordered" id="{$tableId}">
            <tr>
                <td>&nbsp;</td>
                {foreach $params.attributes.col_options as $rowTitle}
                <td>{$rowTitle}</td>
                {/foreach}
            </tr>
            {foreach $params.attributes.row_options as $rowId => $rowTitle}
            <tr>
                <td>{$rowTitle}</td>
                {foreach $params.attributes.col_options as $colId => $rowTitle}
                    {assign var="radioValue" value=$rowId|cat:'-'|cat:$colId}
                    {assign var="radioValueReverse" value=$colId|cat:'-'|cat:$rowId}
                    <td>
                        <select class="js-extra-matrix-input" name="{$attributes.name}[]" multiple="multiple" style="width: 100%;">
                            <option value=""></option>
                            {foreach $params.attributes.item_options as $itemId => $itemTitle}
                                {assign var="itemValue" value=Application_Service_RelationshipMatrix::composeId([$rowId,$colId,$itemId])}
                                <option value="{$itemValue}" {if in_array($itemValue, $selectedValues)}selected="selected"{/if}>{$itemTitle}</option>
                            {/foreach}
                        </select>
                    </td>
                {/foreach}
            </tr>
            {/foreach}
        </table>
    </div>
</div>
<script>
    $('#{$tableId} .js-extra-matrix-input').select2();
</script>