<style>
  .error {
    text-align: center;
    font-size: 60px;
    font-family: "Catamaran", sans-serif;
    font-weight: 800;
    margin: 20px 15px;
    color: white;
  }

  body {
    background-image: url("/assets/images/background.jpg");
  }

  .container {
    width: 50%;
    height: 50%;
    text-align: center;
    font-size: 20px;
    font-family: "Catamaran", sans-serif;
    font-weight: 800;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
  }

  a {
    width: 80%;
    height: 20%;
    background: black;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }
</style>

<div class="container">
  <div class="full-content-center animated flipInX">
    <h1 class="error">500</h1>
    <h2>{$message}</h2>
    <p>{$errors->exception->getMessage()}</p>
    <a class="btn btn-primary btn-sm" href="/home"
      ><i class="fa fa-angle-left"></i> Powrót do strony głównej</a
    >
  </div>
</div>
