<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Aktywacja Kryptos72">
    <meta name="author" content="Kryyptos72">
    <title>Kryptos72 - Aktywacja bezpłatnej wersji TRIAL</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="/assets/image/x-icon">
    <link rel="apple-touch-icon" type="/assets/image/x-icon" href="/assets/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="/assets/image/x-icon" sizes="72x72" href="/assets/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="/assets/image/x-icon" sizes="114x114" href="/assets/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="/assets/image/x-icon" sizes="144x144" href="/assets/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="/assets/register/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/register/menu.css" rel="stylesheet">
    <link href="/assets/register/style.css" rel="stylesheet">
    <link href="/assets/register/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="/assets/register/custom.css" rel="stylesheet">
	
	<!-- MODERNIZR MENU -->
	<script src="/assets/registerjs/modernizr.js"></script>

</head>

<body>
	
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->
	
	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->
	<div class="container-fluid full-height">
		<div class="row row-height">
			<div class="col-lg-6 content-left">
				<div class="content-left-wrapper">
					<a href="index.html" id="logo"><img src="/assets/img/logo1.png" alt="" width="179" height="40"></a>
					<div id="social">
						<ul>
							<li><a href="https://pl-pl.facebook.com/kryptos72/"><i class="icon-facebook"></i></a></li>
							<li><a href=" https://www.linkedin.com/company/kryptos72/"><i class="icon-linkedin"></i></a></li>
						</ul>
					</div>
					<!-- /social -->
					<div>
						<figure><img src="/assets/images/1_with_logo_surface.png" alt="" class="img-fluid"></figure>
						<h2>Aktywacja wersji TRIAL</h2>
						<p>Dziękujemy za rejestrację. Pora na konfigurację systemu Kryptos72 i aktywację Twojej bezpłatnej 14-dniowej wersji TRIAL. Po wypełnieniu formularza, w ciągu kilku minut otrzymasz dane dostępowe do systemu na e-mail podany w rejestracji. </p>
					</div>
					<div class="copy">© 2019 Kryptos72 - Prove it!</div>
				</div>
				<!-- /content-left-wrapper -->
			</div>
			<!-- /content-left -->

			<div class="col-lg-6 content-right" id="start">
				<div id="wizard_container">
					<div id="top-wizard">
					<div id="progressbar"></div>
                                                    {if $message}
                                                            <div class="errorMessage">
                                                                <span>{$message}</span>
                                                            </div>
                                                        {/if}
						</div>
						<!-- /top-wizard -->
                                                    <form id="wrapped" action="{$baseUrl}/registers/save" method="post" enctype="multipart/form-data">
							<!-- Leave for security protection, read docs for details -->
							<div id="middle-wizard">
								<div class="step">
									<h3 class="main_question"><strong>1/4</strong>Proszę, uzupełnij poniższy formularz:</h3>
									<div class="form-group">
										<input type="text" name="imie" id="imie" class="form-control required" placeholder="Imię">
									</div>
									<div class="form-group">
										<input type="text" name="nazwisko" id="nazwisko" class="form-control required" placeholder="Nazwisko">
									</div>
									<div class="form-group">
										<input type="email" name="email" class="form-control required" placeholder="Twój email" id="email" value="{$data.email}">
									</div>
									<div class="form-group">
										<input type="text" name="telefon_komorkowy" id="telefon_komorkowy" value="{$data.phone}" class="form-control required" placeholder="Nr telefonu">
									</div>
                                                                        <!-- /row -->
									<div class="form-group terms">
										<label class="container_check">Klikając przycisk "AKTYWUJ KONTO", potwierdzam zawarcie umowy o świadczeniu usługi Kryptos72 w wersji elektronicznej poprzez akceptację <a href="https://kryptos72.com/regulamin-swiadczenia-uslugi-kryptos72" data-toggle="modal" data-target="#terms-txt">Regulaminu świadczeniu usługi SAAS Kryptos72</a> oraz <a href="https://kryptos72.com/regulamin-powierzenia/" data-toggle="modal" data-target="#terms-txt">Regulaminu powierzenia danych osobowych</a>
											<input type="checkbox" name="terms" value="Yes" class="required">
											<span class="checkmark"></span>
										</label>
									</div>
								</div>
								<!-- /step-->
								<div class="step">
									<h3 class="main_question"><strong>2/4</strong>Dane organizacjii:</h3>
									<div class="form-group">
										<input type="text" name="organization_name" id="organization_name" class="form-control required" placeholder="Pełna nazwa organizacji">
									</div>
									<div class="form-group">
										<input type="text" name="company_shortname" class="form-control required" placeholder="Skrót nazwy organizacji">
									</div>	
									<div class="form-group">
										<input type="text" name="company_city" class="form-control required" placeholder="Miasto">
									</div>
									<div class="form-group">
										<input type="text" name="company_NIP" class="form-control" placeholder="NIP">
									</div>

								</div>
								<!-- /step-->
								<div class="step">
									<h3 class="main_question"><strong>3/4</strong>Powiedz nam coś o sobie:</h3>
									<div class="form-group">
										<label class="container_check version_2">Pełnię funkcję IODO
											<input type="checkbox" name="question_2[]" value="Google Search Engine" onchange="getVals(this, 'question_2');">
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="form-group">
										<label class="container_check version_2">Jestem zewnętrznym ekspertem RODO
											<input type="checkbox" name="question_2[]" value="A friend of mine" onchange="getVals(this, 'question_2');">
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="form-group">
										<label class="container_check version_2">Pracuję w dziale kadr
											<input type="checkbox" name="question_2[]" value="Print Advertise" onchange="getVals(this, 'question_2');">
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="form-group">
										<label class="container_check version_2">Jestem prawnikiem
											<input type="checkbox" name="question_2[]" value="Newspaper" onchange="getVals(this, 'question_2');">
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="form-group">
										<label class="container_check version_2">Jestem administratorem systemów informatycznych
											<input type="checkbox" name="question_2[]" value="Other" onchange="getVals(this, 'question_2');">
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="form-group">
										<label class="container_check version_2">Właściciel / Zarząd
											<input type="checkbox" name="question_2[]" value="Other" onchange="getVals(this, 'question_2');">
											<span class="checkmark"></span>
										</label>
									</div>
								</div>
								<!-- /step-->
								<div class="submit step">
									<h3 class="main_question"><strong>4/4</strong>Podsumowanie</h3>
									<h3 class="main_question">Jak Kryptos72 może Ci pomóc?</h3>
									<div class="form-group">
										<input type="text" name="client_benefits" class="form-control" placeholder="Jakich korzyści oczekujesz od Kryptos72?">
									</div>
									<div class="form-group">
										<input type="text" name="client_problem" class="form-control" placeholder="Jaki problem Kryptos72 powinien rozwiązać?">
									</div>
									<div class="form-group terms">
										<label class="container_check">Wyrażam zgodę na przetwarzanie moich danych osobowych przez Usługodawcę w celu otrzymywania aktualności oraz informacji handlowych o Kryptos72 za pomocą automatycznych wiadomości e-mail, zgodnie z art. 10 ust. 2 ustawy o świadczeniu usług drogą elektroniczną oraz art. 172 ust. 1 ustawy Prawo telekomunikacyjne </a>
											<input type="checkbox" name="terms" value="Yes" class="required">
											<span class="checkmark"></span>
										</label>
									</div>
								</div>
								<!-- /step-->
							</div>
							<!-- /middle-wizard -->
							<div id="bottom-wizard">
								<button type="button" name="backward" class="backward">Powrót</button>
								<button type="button" name="forward" class="forward">Dalej</button>
								<button type="submit" name="process" class="submit">AKTYWUJ KONTO</button>
							</div>
							<!-- /bottom-wizard -->
						</form>
					</div>
					<!-- /Wizard container -->
			</div>
			<!-- /content-right-->
		</div>
		<!-- /row-->
	</div>
	<!-- /container-fluid -->

	<div class="cd-overlay-nav">
		<span></span>
	</div>
	<!-- /cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div>
	<!-- /cd-overlay-content -->

	
	<!-- Modal terms -->
	<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn_1" data-dismiss="modal">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	
	<!-- COMMON SCRIPTS -->
	<script src="/assets/registerjs/jquery-3.2.1.min.js"></script>
    <script src="/assets/registerjs/common_scripts.min.js"></script>
	<script src="/assets/registerjs/velocity.min.js"></script>
	<script src="/assets/registerjs/functions.js"></script>

	<!-- Wizard script -->
	<script src="/assets/registerjs/survey_func.js"></script>

</body>
</html>